<!DOCTYPE html> {% load static %}
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" " />
    <title>{% block title %} Concilia BR-381 e Anel {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'foundation-icons/foundation-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}" />
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
</head>

<body>
    <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
             <!-- Menu responsivo -->
            <div class="top-border hide-for-medium-down"></div>
            <nav class="tab-bar mobile-tab-bar show-for-medium-down" data-topbar>

                <section class="right-small mobile-right-small">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'img/concilia_without_text.png' %}" />
                    </a>
                </section>

                <section class="middle tab-bar-section center-text">
                    <a href="{% url 'index' %}">
                        <h1 class="title-sm-mobile">Concilia BR 381 e Anel</h1>
                    </a>
                </section>

                <section class="left-small">
                    <a class="left-off-canvas-toggle menu-icon" href="#" title="menu"><span></span></a>
                </section>

            </nav>
            <aside class="left-off-canvas-menu" id="menu-mobile">
                <ul class="off-canvas-list">
					<li class="menu-item menu-item-root menu-item-type-post_type menu-item-object-page">
                        <button class="button-sub-menu" onclick="window.location.href='{% url 'index' %}'">Início </button>
                    </li>
                    <li class="menu-item menu-item-root menu-item-type-post_type menu-item-object-page menu-item-has-children">
                        <button class="button-sub-menu">O Programa </button>
                        <div class="nav-sub-wrap ord-nav">
                            <div class="nsw">
                                <div class="nav-sub-menus">
                                    <ul>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a class="mobile-submenu-item" href="{% url 'about' %}">O que é</a>
                                        </li>

                                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a class="mobile-submenu-item" href="{% url 'partners' %}">Parceiros</a>
                                        </li>
                                         <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                             <a href="{% url 'conselho_executivo' %}">Conselho Executivo</a>
                                        </li>
                                         <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25">
                                            <a target="_blank" href="http://portal.trf1.jus.br/sjmg/processual/anel-rodoviario/anel-rodoviario.htm">Ação Civil Pública</a>
                                         </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                            <a href="{% url 'manual_marca' %}">Manual de identidade visual</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="menu-item menu-item-root menu-item-type-post_type menu-item-object-page menu-item-has-children">
                        <button class="button-sub-menu">Comunidades </button>
                        <div class="nav-sub-wrap ord-nav">
                            <div class="nsw">
                                <div class="nav-sub-menus">
                                    <ul>
                                       <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                                            <a href="{% url 'content:comunidades' %}">Comunidades Seladas</a>
                                        </li>
										{% for comunidade in comunidades %}
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2780">
                                            <button class="button-sub-menu" onclick="window.location.href='{{comunidade.get_absolute_url}}'">{{comunidade}}</button>
                                        </li>
                                        {% endfor %}
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                                             <button class="button-sub-menu" onclick="window.location.href='{% url 'cmar' %}'"
                                                     title="CMAR - COMUNIDADE DE MORADORES EM ÁREAS DE RISCOS">CMAR</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

					<li class="menu-item menu-item-root menu-item-type-post_type menu-item-object-page menu-item-has-children">
                        <button class="button-sub-menu">Imóveis</button>
                        <div class="nav-sub-wrap ord-nav">
                            <div class="nsw">
                                <div class="nav-sub-menus">
                                    <ul>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                                            <button class="button-sub-menu" onclick="window.location.href='{% url 'imoveis_banco' %}'">Banco de imóveis</button>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                                            <button class="button-sub-menu" onclick="window.location.href='{% url 'imoveis_localizacao' %}'">Localização dos imóveis</button>
                                        </li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                                            <button class="button-sub-menu" onclick="window.location.href='{% url 'imoveis_caracteristica' %}'">Características dos imóveis</button>
                                        </li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                                            <button class="button-sub-menu" onclick="window.location.href='{% url 'imoveis_destinacao' %}'">Destinação dos imóveis</button>
                                        </li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                                            <button class="button-sub-menu" onclick="window.location.href='{% url 'imoveis_acesso' %}'">Acesso aos imóveis</button>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54">
                        <button class="button-sub-menu">Providências</button>
                        <div class="nav-sub-wrap ord-nav">
                            <div class="nsw">
                                <div class="nav-sub-menus">
                                    <ul>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                                            <button class="button-sub-menu" onclick="window.location.href='{% url 'plano_providencias' %}'">Plano de Providências</button>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25">
                                            <button class="button-sub-menu" onclick="window.location.href='{% url 'criterios_regras' %}'">Critérios e Regras</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item menu-item-root menu-item-type-taxonomy menu-item-object-category">
                        <button class="button-sub-menu" onclick="window.location.href='{% url 'content:noticias' %}'">Notícias </button>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                         <button class="button-sub-menu">Acervo </button>
                        <div class="nav-sub-wrap ord-nav">
                            <div class="nsw">
                                <div class="nav-sub-menus">
                                    <ul>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                                            <button class="button-sub-menu" onclick="window.location.href='{% url 'content:galeria' %}'">Fotos</button>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                                            <button class="button-sub-menu" onclick="window.location.href='{% url 'content:videos' %}'">Vídeos</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item menu-item-root menu-item-type-post_type menu-item-object-page">
                        <button class="button-sub-menu" onclick="window.location.href='{% url 'content:perguntas-frequentes' %}'">Dúvidas </button>

                    </li>
                    <li class="menu-item menu-item-root menu-item-type-post_type menu-item-object-page">
                        <button class="button-sub-menu" onclick="window.location.href='{% url 'contact' %}'">Contato </button>

                    </li>
                </ul>
            </aside>

             <!-- Menu -->

            {% include "_menu.html" %}

            <!-- Conteúdos da página -->


            <!--<div class="container-fluid">-->
             <div class="container">
                {% block content %}{% endblock %}
				<button onclick="topFunction()" id="BtnTopo" title="Ir para o topo"> Topo </button>
            </div>

            <!-- Rodapé -->
            <div class="line-separator-gray"></div>
            <footer>
					<section class="section-links-uteis">

					    <div class="row">
					        <div class="col-sm-12">
					            <h3 class="title-links-uteis">LINKS ÚTEIS</h3>
					        </div>
					        <div class="col-sm-4">
					             <ul>
					                 <li><a target="_blank" href="http://www.dnit.gov.br" class="links-uteis">DNIT</a></li>
					                 <li><a target="_blank" href="http://www.dpu.def.br" class="links-uteis">DPU</a></li>
					                 <li><a target="_blank" href="http://www.mpf.mp.br/mg" class="links-uteis">MPF</a></li>
					                 <li><a target="_blank" href="https://portal.trf1.jus.br/sjmg" class="links-uteis">JUSTIÇA FEDERAL</a></li>
					                 <li><a target="_blank" href="http://www.transportes.gov.br" class="links-uteis">Ministério dos Transportes</a></li>
					                 <li><a target="_blank" href="http://www.justica.gov.br" class="links-uteis">Ministério da Justiça</a></li>
					             </ul>
					        </div>
					        <div class="col-sm-4">
					              <!--<h3 class="title-links-uteis" style="opacity: 0;">LINKS ÚTEIS</h3>-->
					              <ul>
					                 <li><a target="_blank" href="http://portalpbh.pbh.gov.br/pbh/ecp/comunidade.do?app=urbel" class="links-uteis">URBEL</a></li>
					                 <li><a target="_blank" href="http://comunidadecmar.blogspot.com.br" class="links-uteis">CMAR</a></li>
					                 <li><a target="_blank" href="http://www.nova381.org.br/site" class="links-uteis">Movimento Nova 381</a></li>
					                 <li><a target="_blank" href="http://www.servas.org.br" class="links-uteis">Serviço Voluntário de Assistência Social</a></li>
					                 <li><a target="_blank" href="http://defesacivil.mg.gov.br/" class="links-uteis">Defesa Civil</a></li>
					                 <li><a target="_blank" href="http://br381mg.com.br" class="links-uteis">Gestão Ambiental BR-381</a></li>
					             </ul>
					        </div>
					         <div class="col-sm-4">
					             <ul>
					                 <li><a target="_blank" href="http://uaitec.mg.gov.br/inicio/cursos" class="links-uteis">Cursos gratuitos da Universidade aberta de Minas Gerais</a></li>
					                 <li><a target="_blank" href="http://www.ebc.com.br/noticias/meio-ambiente/2015/03/dez-dicas-para-economizar-agua-em-casa" class="links-uteis">Dicas para economizar água</a></li>
					                 <li><a target="_blank" href="http://www.copasa.com.br/media2/PesquisaEscolar/COPASA_Agua.pdf" class="links-uteis">Cartilha Saneamento e vida saudável</a></li>
					                 <li><a target="_blank" href="http://www.cemig.com.br/pt-br/A_Cemig_e_o_Futuro/sustentabilidade/nossos_programas/Eficiencia_Energetica/Documents/CD-0028-15%20DICAS%20DE%20ENERGIA_CARTILHA%2015x21cm%2009-03_LOS_marca%20nova.pdf" class="links-uteis">Cartilha da economia de energia</a></li>
					                 <li><a target="_blank" href="http://www.prohomeimoveis.com.br/prohome-ambiental/cartilha-reciclagem-de-lixo/" class="links-uteis">Cartilha reciclagem de lixo</a></li>
					                 <li><a target="_blank" href="http://www.bombeiros.mg.gov.br" class="links-uteis">Corpo de Bombeiros Militar de Minas Gerais</a></li>
					             </ul>
					         </div>
					    </div>
					</section>
				<div class="row">
					<div class="col-md-2">
						<p class="label-rodape">Apoio:</p>
						<a href="{% url 'partners' %}" target="_blank" title="Comunidade dos Moradores do Anel Rodoviário - CMAR" style="text-decoration:none;">
							<img class="footer-image-apoio img-responsive" src="{% static 'img/logomarcas/CMAR2.png' %}" alt="Comunidade dos Moradores do Anel Rodoviário - CMAR" />
						</a>
					</div>
					<div class="col-md-offset-2 col-md-8">
						<p class="label-rodape">Parceria:</p>
						<a href="{% url 'partners' %}" target="_blank" title="Comunidade dos Moradores do Anel Rodoviário - CMAR" style="text-decoration:none;">
							<img class="footer-image-apoio img-responsive" src="{% static 'img/logomarcas/1.png' %}" alt="Compinha Urbanizadora e de Habitação de Belo Horizonte - URBEL" style="display:inline-block;margin-right:17px;"/>
						</a>

						<a href="{% url 'partners' %}" target="_blank" title="Comunidade dos Moradores do Anel Rodoviário - CMAR" style="text-decoration:none;">
							<img class="footer-image-apoio img-responsive" src="{% static 'img/logomarcas/2.png' %}" alt="Compinha Urbanizadora e de Habitação de Belo Horizonte - URBEL" style="display:inline-block;margin-right:34px;"/>
						</a>

						<a href="{% url 'partners' %}" target="_blank" title="Comunidade dos Moradores do Anel Rodoviário - CMAR" style="text-decoration:none;">
							<img class="footer-image-apoio img-responsive" src="{% static 'img/logomarcas/3.png' %}" alt="Compinha Urbanizadora e de Habitação de Belo Horizonte - URBEL" style="display:inline-block;margin-right:34px;"/>
						</a>

						<a href="{% url 'partners' %}" target="_blank" title="Comunidade dos Moradores do Anel Rodoviário - CMAR" style="text-decoration:none;">
							<img class="footer-image-apoio img-responsive" src="{% static 'img/logomarcas/4.png' %}" alt="Compinha Urbanizadora e de Habitação de Belo Horizonte - URBEL" style="display:inline-block;margin-right:34px;"/>
						</a>
					</div>
				</div><br/>
				<div class="row">
					<div class="col-md-12">
						<p class="label-rodape">Realização:</p>
							<a href="{% url 'partners' %}" target="_blank" title="Comunidade dos Moradores do Anel Rodoviário - CMAR" style="text-decoration:none;">
								<img class="footer-image-realizacao img-responsive" src="{% static 'img/logomarcas/realizacao/1.png' %}" alt="Compinha Urbanizadora e de Habitação de Belo Horizonte - URBEL" style="display:inline-block;margin-right:17px;"/>
							</a>

							<a href="{% url 'partners' %}" target="_blank" title="Comunidade dos Moradores do Anel Rodoviário - CMAR" style="text-decoration:none;">
								<img class="footer-image-realizacao img-responsive" src="{% static 'img/logomarcas/realizacao/2.png' %}" alt="Compinha Urbanizadora e de Habitação de Belo Horizonte - URBEL" style="display:inline-block;margin-right:17px;"/>
							</a>

							<a href="{% url 'partners' %}" target="_blank" title="Comunidade dos Moradores do Anel Rodoviário - CMAR" style="text-decoration:none;">
								<img class="footer-image-realizacao img-responsive" src="{% static 'img/logomarcas/realizacao/3.png' %}" alt="Compinha Urbanizadora e de Habitação de Belo Horizonte - URBEL" style="display:inline-block;margin-right:34px;"/>
							</a>

							<a href="{% url 'partners' %}" target="_blank" title="Comunidade dos Moradores do Anel Rodoviário - CMAR" style="text-decoration:none;">
								<img class="footer-image-realizacao img-responsive" src="{% static 'img/logomarcas/realizacao/4.png' %}" alt="Compinha Urbanizadora e de Habitação de Belo Horizonte - URBEL" style="display:inline-block"/>
							</a>

					</div>
				</div>
            </footer>
            <a href="#" class="seta-cima"></a>
            <div class="rodape_end_background">
                <div class="row" style="text-align: center;">
                    <p style="margin-top: 40px;font-weight: bold; color: white;">&copy; Copyright 2017 Concilia BR-381 e Anel</p>
                </div>
            </div>
        </div>

    </div>

    <!-- Bibliotecas requeridas pelo sistema -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/foundation.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        $(document).ready(function () {
                // Mobile Menu hide and show
                $('#menu-mobile ul li').mouseenter(function() {
                    $(this).children('div').show();
                });

                $('#menu-mobile ul li').mouseleave(function(){
                     $(this).children('div').hide();
                });
        });
    </script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-104253062-1', 'auto');
		ga('send', 'pageview');
	</script>

</body>

</html>
