{% extends "base.html" %}

{% load static %}

{% block title %} Imóveis | {{ block.super }} {% endblock %}

{% block content %}
<section>
    <div class="row">
        <div class="col-sm-12">
            <h1 class="h1-header-title space-header">Acesso aos imóveis</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="justfy-text">É facilitado por um registro fotográfico dos imóveis existentes no Banco de Imóveis para que as famílias tenham maior facilidade de visualização  durante o procedimento de escolha.</p>
            <p class="justfy-text">Outra medida para faciliotar a escolha é a apresentação de uma relação dos equipamentos públicos na região dos imóveis escolhidos. </p>
            <p class="justfy-text">O programa Concilia BR-381 conduzirá as famílias para visitação de até 3 (três) imóveis escolhidos por elas. Caso não haja eleição de nenhum dos imóveis visitados, a família passa por novo procedimento de escolha de imóvel.</p>
        </div>
    </div>
</section>
{% endblock %}
